{% extends "base.html" %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
      <p>Лучшие мобилы только у нас:</p>
    </div>
  </div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      {% for product in products %}
        <div class="col-md-4">
          <h2>{{ product.name }}</h2>

          <a href="/catalog/{{ product.id }}/{{ product.slug }}">
            <img src="{% if product.image %}{{ product.image.url }}
            {% else %}{% static 'static/no_img.png' %}{% endif %}" width="180">
          </a>
          <p>{{ product.description }}</p>
        </div>
      {% endfor %}

    </div>
  </div>

</main>

{% endblock %}